{{>layouts/header}}
<form action="/hospitals/test" method="get">
    지역 검색: <input type="text" name="keyword">
</form>

<table class="table">
    <thead>
    <tr>
        <th scope="col">id</th>
        <th scope="col">병원 이름</th>
        <th scope="col">도로명 주소</th>
    </tr>
    </thead>
    <tbody class="table-group-divider">
    {{#hospitals}}
        <tr>
            <th scope="row">{{id}}</th>
            <td><a href="/lists/{{id}}">{{title}}</a></td>
            <td>{{title}}</td>
            <td>{{content}}</td>
        </tr>
    {{/hospitals}}
    </tbody>
</table>
{{#keyword}}
    <a href="/hospitals/test?keyword={{keyword}}" class="card-link">이전 페이지</a>
    <a href="/hospitals/test?keyword={{keyword}}" class="card-link">다음 페이지</a>
{{/keyword}}
{{^keyword}}
    <a href="/hospitals/list?page={{previous}}" class="card-link">이전 페이지</a>
    <a href="/hospitals/list?page={{next}}" class="card-link">다음 페이지</a>
{{/keyword}}
{{>layouts/footer}}