{{>layouts/header}}
<form action="/hospitals/test" method="get">
    지역 검색: <input type="text" name="keyword">
</form>

<table class="table">
    <thead>
    <tr>
        <th scope="col">id</th>
        <th scope="col">병원 이름</th>
        <th scope="col">도로명 주소</th>
    </tr>
    </thead>
    <tbody class="table-group-divider">
    {{#hospitals}}
        <tr>
            <th scope="row">{{id}}</th>
            <td><a href="/hospitals/{{id}}">{{hospitalName}}</a></td>
            <td>{{roadNameAddress}}</td>
        </tr>
    {{/hospitals}}
    </tbody>
</table>
<ul class="pagination justify-content-center">
    {{#keyword}}
        <li class="page-item">
            <a class="page-link" href="?page={{previous}}&keyword={{keyword}}">Previous</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{next}}&keyword={{keyword}}">Next</a>
        </li>
    {{/keyword}}
    {{^keyword}}
        <li class="page-item">
            <a class="page-link" href="?page={{previous}}">Previous</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{next}}">Next</a>
        </li>
    {{/keyword}}
</ul>
{{>layouts/footer}}