{{>layouts/header}}
<div class="card" style="...">
    {{#hospital}}
        <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">{{id}}</h6>
            <h5 class="card-title">{{hospitalName}}</h5>
            <p calss="card-text">{{roadNameAddress}}</p>
            <a class="btn btn-primary" href="/hospitals/list" role="button">목록</a>
        </div>
    {{/hospital}}
</div>
{{>layouts/footer}}