{{>layouts/header}}
{{#hospital}}
    <div class="card" style="...">
        <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">{{id}}</h6>
            <h5 class="card-title">{{hospitalName}}</h5>
            <p calss="card-text">{{roadNameAddress}}</p>
        </div>
    </div>
{{/hospital}}
{{>layouts/footer}}